@model ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    ViewBag.BgImage = "/assets/admin/img/generic/17.jpg";
    ViewBag.BgPosition = "50% 76%";
    ViewBag.BgOverlay = true;
}

<div class="text-center">
    <h4 class="mb-0">Forgot your password?</h4>
    <small>Enter your email and we'll send you a reset code.</small>

    <form class="mb-3 mt-4" method="post" asp-action="ForgotPassword">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger fs-10 mb-3"></div>

        <div class="mb-3">
            <input asp-for="Email"
                   class="form-control"
                   type="email"
                   placeholder="Email address" />
            <span asp-validation-for="Email" class="text-danger fs-10"></span>
        </div>

        <button class="btn btn-primary d-block w-100 mt-3" type="submit">
            Send reset code
        </button>
    </form>

    <a class="fs-10 text-600" href="#!">I can't recover my account using this page</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}