@model LoginVM

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
    ViewBag.BgImage = "/assets/admin/img/generic/14.jpg";
    ViewBag.BgPosition = "50% 20%";
}

<div class="row flex-between-center">
    <div class="col-auto">
        <h3>Login</h3>
    </div>
    <div class="col-auto fs-10 text-600">
        <span class="mb-0 fw-semi-bold">New User?</span>
        <span><a asp-action="Register">Create account</a></span>
    </div>
</div>

<form method="post" asp-action="Login">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="UsernameOrEmail"></label>
        <input class="form-control" type="text" autocomplete="on" asp-for="UsernameOrEmail" />
        <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between">
            <label class="form-label" asp-for="Password"></label>
        </div>
        <input class="form-control" type="password" autocomplete="on" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="row flex-between-center">
        <div class="col-auto">
            <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
                <label class="form-check-label mb-0" asp-for="RememberMe">Remember Me</label>
            </div>
        </div>
        <div class="col-auto">
            <a class="fs-10" asp-action="ForgotPassword">Forgot Password?</a>
        </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary d-block w-100 mt-3" type="submit">Log in</button>
    </div>
</form>

<div class="position-relative mt-4">
    <hr />
    <div class="divider-content-center">or log in with</div>
</div>

<div class="row g-2 mt-2">
    <div class="col-sm-6">
        <a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#">
            <span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> Google
        </a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-facebook btn-sm d-block w-100" href="#">
            <span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> Facebook
        </a>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}