@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Signed Out";
    ViewBag.BgImage = "/assets/admin/img/generic/19.jpg";
}

<div class="text-center">
    <img class="d-block mx-auto mb-4"
         src="~/Assets/Admin/img/icons/spot-illustrations/45.png"
         alt="shield" width="100" />

    <h3>See you again!</h3>

    <p>Thanks for using Cinema. You are <br />now successfully signed out.</p>

    <a class="btn btn-primary btn-sm mt-3" asp-action="Login">
        <span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span>Return to Login
    </a>
</div>
